/*GENERAL START*/
body{
  color: #00274C;
}
h1{
  padding-top: 10px;
  font-size: 24px;
  text-align: center;
  font-family: 'Lobster', cursive;
}
h2{
   font-size: 18px;
   padding-top: 15px;
   font-family: 'Lobster', cursive;
}
li{
  list-style: none;
  font-family: 'Cabin', sans-serif;
}
/*GENERAL END*/

/*INDEX START*/
main.indexmain{
  background-size: cover ;
  background-position: center;
  background-image: url("../images/munumlogo.png");
  background-repeat: no-repeat;
  background-color: white;
  background-attachment: fixed;
  margin: 5px;
}
.text {
  display: flex;
  flex-direction: column;
  margin: 12px;
  background-color: rgba(250,250,250,.5);
  border-radius: 7px;
  flex-basis: 400px;
  padding: 5px 5px 5px 5px;
}
.indexmain h1{
  font-variant: small-caps;
}
.indexmain h2, p, ul{
  text-align: center;
}
.indexmain ul{
  font-variant: small-caps;
}
/*INDEX END*/

/*TIMELINE START*/
.calendar{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 2fr 2fr;
  border: 5px ridge #00274C;
  padding: 5px;
}
.calendar h2{
  text-align: center;
}
.calendar li{
  padding-left: 5px;
  padding-right: 5px;
  list-style-position: inside;
  list-style-type: upper-roman;
}
.calendar div{
  border: 5px ridge #00274C;
  margin-bottom: 5px;
  background-image: url("../images/concrete_seamless.png");
}
/*TIMELINE END*/

/*ROOMS START*/
div.gallery{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img{
  max-width: 400px;
}
/*ROOMS END*/

/*CONTACT START*/
.contactcontent{
   display: grid; 
   grid-template-columns: auto;
   grid-template-rows: 1fr 1fr 1fr;
   grid-row-gap: 15px;
   color: #00274C;
}
h2.title{
    font-variant: small-caps;
    text-decoration: underline #00274C;  
  }
.contacts{
   grid-row: 1/span 1;
   text-align: center;
}
.form{
   grid-row: 2/span 2;
}
.contactmain ul{
   font-size: 14px;
   padding-top: 5px;
}
/*FORM*/
form fieldset{
   border-radius: 10px;
   font-family: serif;
}
 form legend{
   margin: auto;
   text-align: right;
   font-weight: bold;
   font-variant: small-caps; 
   padding-top: 10px;
}
form fieldset div{
   border: 2px solid #00274C;
   margin: 2%;
   padding: 2%;
   border-radius: 5px;
}
form input[type=submit]{
  border: 1px solid #00274C;
  width: 120px;
  padding: 5%;
  background-color: #FFCB05;
  align-content: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
form input, textarea, select{
   background-color:#FFFFFF;
}
/*CONTACT END*/

/*MENU and HEADER*/
.menu >li{
  float: center;
}
.nav >li {
    position: relative;
    display: block;
    align-items: center;
}
header{
  display: block;
  text-align: center;
  border-bottom: #00274C;
  border-bottom-width: 5px;
  border-bottom-style: groove;
  border-bottom-color: #FFCB05;
}
.menu{
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  font-variant: small-caps;
  font-weight: bold;
  
}
.menu >li a{
  color: #00274C;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: #00274C;
  border-width: 5px;
}

.menu >li a:hover{
  color: #FFCB05;
  text-decoration: underline;
}
.menu >li a:focus{
  text-decoration-style: dashed;
}
a.skip{
  left: -10;
  padding: 10px;
  position: absolute;
  top: -40px;
 /* -webkit-transition: top 1s ease-out;*/
  /*transition: top 1s ease-out;*/
  /*z-index: 1;*/
}
a.skip:focus{
  top:5px;
  color: #FFCB05;
  text-decoration-style: dashed;
}
.menu .current{
  background-color: #D3D3D3;
  text-decoration: underline;
  text-decoration-style: groove;
}
/*END OF MENU*/

/*FOOTER*/
footer{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: #D3D3D3;
  font-family: 'Lobster', cursive;
}
footer i{
  font-family: 'Cabin', sans-serif;
}
/*END OF FOOTER*/

/*MIDSIZE SCREEN*/
@media screen and (min-width: 850px){
  /*MENU*/
  .menu{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: 12px;
  }
  /*FOOTER*/
  footer{
    padding: 12px;
  }
  /*GENERAL*/
  p{
    font-size: 18px;
  }
  h1{
    font-size: 36px;
    padding-bottom: 10px;
  }
  /*INDEX*/
  .indexmain h1{
    color: #fff;
    font-size: 64px;
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
  }
  .indexmain li{
    font-size: 24px;
  }
  .indexmain h2{
    font-size: 36px;
  }
  /*TIMELINE*/
  .calendar{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr .5fr .5fr 1fr 1fr;
    grid-column-gap: 5px;
  }
  .calendar h2{
    font-size: 24px;
    padding-top: 5px;
  }
  /*CONTACT*/
  .contactcontent{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .form{
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .contactcontent h2{
    font-size: 28px;
  }
  .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacts ul{
    padding-bottom: 15px;
    font-size: 15px;
  }
  h2.title{
    font-size: 32px;
  }
  .contacts li{
    padding-bottom: 5px;
  }
}

/*LARGE SCREEN*/
@media screen and (min-width: 1060px){
  /*MENU*/
  .menu{
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
  .nav >li {
      display: flex;
  }
  header{
    display: flex;
   /* text-align: left;*/
  }
  /*TIMELINE*/
  .calendar{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .75fr .75fr 1fr;
  }
}
/* testing?  part 3*/
